<!DOCTYPE html>
<html>
    <head>
        <title>gold fish brain!</title>
        <link rel="stylesheet" href="static\authenticate.css">
    </head>
    <body>
        <div class="circle"></div>
        <div class="container">
            <center><h2 class="heading">Forgot Password</h2></center>
            <form action="/forgot_password">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </body>
</html>